{% extends 'hethong/nha_phan_phoi.html' %}

{% block tieude %}
{% for form in form %}
	{% if forloop.last %}
		<h3>Chi tiết kho hàng {{form.id}}</h3>
	{% endif %}
{% endfor %}
{% endblock %}

{% block body %}
<!-- Chua menu Thong tin co ban, Tinh trang kho hang, Lich su kho hang, Thong ke -->
<div class="navbar-collapse collapse" aria-expanded="false" style="height: 1px; position: relative;">
	    <ul class="nav nav-tabs" style="margin-left: 100px; background-color: #F5F5F5; color: white;" role="tablist">
	    	<!-- {% for form in form %}
				{% if forloop.first %} -->
			      	<li><a href="{% url 'thong_tin_co_ban' form.id %}" id="thongtincoban" style="color: white;">Thông tin cơ bản</a></li>
			      	<li role="presentation" style="margin-left: 100px;"><a href="{% url 'tinh_trang_kho_hang' form.id %}" id="tinhtrangkhohang" style="color: white;">Tình trạng kho hàng</a></li>
			      	<li style="margin-left: 100px;"><a href="{% url 'lich_su_kho_hang' form.id %}" style="color: white;">Lịch sử kho hàng</a></li>
			      	<li style="margin-left: 100px;"><a href="#thongke" style="color: white;">Thống kê kho hàng</a></li>
		<!-- 	    {% endif %}
			{% endfor %} -->
	    </ul>
	</div> 
</div> 

<!--  Hien thi giao dien cua tung thanh phan trong menu -->
<div class="col-sm-10 col-sm-offset-2">
	{% block detailcontent  %}
	{% endblock %}
</div>

{% endblock %}