{% extends 'hethong/nha_phan_phoi.html' %}

{% block tieude %}
Danh sách nhà cung cấp
{% endblock %}

{% block body %}
<form style="border:1px solid gray; padding: 10px; margin-top: 40px;" role="form" action="" method="POST">
	<div class="form-group">
		<input type="search" name="ten_ncc" placeholder="Nhập tên nhà cung cấp" style="height: 40px; width: 300px;">
		<input type="search" name="ma_ncc" placeholder="Nhập mã nhà cung cấp" style="margin-left: 30px; height: 40px; width: 300px;">
	 	<button style="height: 40px; width: 100px; margin-left: 30px;">Tìm kiếm</button>
	</div>
	<div class="form-group" style="margin-top: 30px;">
		<table class="table table-striped">
			<thead>
				<th>STT</th>
				<th>Mã nhà cung cấp</th>
				<th>Tên nhà cung cấp</th>
				<th>Địa chỉ</th>
				<th>Số điện thoại</th>
				<th>Email</th>
				<th>Action</th>
			</thead>
			<body>
				{% for row in form %}
					<tr>
						<td></td>
						<td>{{row.IdNhaCungCap}}</td>
						<td>{{row.HoTen}}</td>
						<td>{{row.DiaChi}}</td>
						<td>{{row.SDT}}</td>
						<td>{{row.Email}}</td>
						<td><a href="">Cập nhật</a></td>
					</tr>
				{% endfor %}
			</body>
		</table>
	</div>
</form>
{% endblock %}