{% extends 'hethong/chi_tiet_kho_hang.html' %}

{% block detailcontent %}
<form style="border:1px solid gray; padding: 10px; margin-top: 40px;" role="form" action="" method="POST">
	{% csrf_token %}
	<div class="form-group" style="margin-top: 20px;">
		<div class="row">
			<div class="col-sm-3">
				<input type="text" name="name" placeholder="Nhập tên hàng hóa..." style="height: 33px; width: 250px;">	
			</div>
			<div class="col-sm-3">
				<input type="text" name="code" placeholder="Nhập mã hàng hóa..." style="height: 33px; width: 250px;">
			</div>
			<div class="btn-group">
				<div class="col-sm-3">
					<button type="submit" class=" btn btn-primary" name="timkiem"><span class="glyphicon glyphicon-search"></span>Tìm kiếm</button>
				</div>
			</div>
		</div>
		 
	</div>
	<div class="form-group" style="margin-top: 30px;">
		<table class="table table-striped">
			<thead>
				<th>STT</th>
				<th>Mã sản phẩm</th>
				<th>Tên sản phẩm</th>
				<th>Số lượng</th>
				<th>Ngày sản xuất</th>
				<th>Hạn sử dụng</th>
				<th>Action</th>
			</thead>
			<body>
				{% for row in form %}
					<tr>
						<td>{{forloop.counter}}</td>
						<td>{{row.code}}</td>
						<td>{{row.name}}</td>
						<td>{{row.amount}}</td>
						<td>{{row.manufacturing_date}}</td>
						<td>{{row.expiry_date}}</td>
						<td><input type="submit" class=" btn btn-primary" name="chuyenkho" value="Chuyển kho" formaction="{% url 'chuyen_kho' row.id row.code %}"></input></td>
					</tr>
				{% endfor %}
			</body>
		</table>
	</div>
</form>
{% endblock %}